.save-goal{
    min-width:85px;
    width:25%;
    text-align: center;
    overflow-y: hidden;
}

.btn{
    width:121px;
}

.button-new{
    min-width:150px;
    width:30vw;
}

.progress{
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.329);
    border-radius: 0.5rem;
}

@media screen and (max-width:480px) {
    .save-goal{
        width:35%
    }
    .btn{
        min-width:102px;
        font-size:smaller;
    }
}