<div class="modal-header">
    <h4 class="modal-title pull-left display-7" style='font-weight:lighter;'>Create a new saving goal!</h4>
</div>
<div class="modal-body">
    <p>budget-edit-modal works!</p>
    <!-- <form>
        <div class='form-group'>
            <label for='updateValue'>{{clickedUpdateType}} by</label>
            <input name='updateValue' class='form-control' type='number' min='0' [(ngModel)]="updateValue">
        </div>
        <small style='color:red;'>{{updateErrMsg}}</small>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" aria-label="Close" (click)="modalRef?.hide()">
        Cancel
    </button>
    <button type="button" class='btn btn-outline-primary' aria-label='Close' (click)="onClickSubmitUpdateValue($event)">
        {{clickedUpdateType}}
    </button> -->
</div>