<div class='container-fluid'>
    <div style='text-align: center;'>
        <h1 class='display-6'>Expense Logger</h1>
    </div>
    <app-walletinfo-small></app-walletinfo-small>
    <hr class='divider'/>
    <form (submit)="handleSubmitExpense($event)">
        <div class='form-group'>
            <label for='title'>Title</label>
            <input id='title' type='text' class='form-control' placeholder="Enter name of expense" name='title' autocomplete='off' [(ngModel)]='title'>
        </div>
        <div class='form-group'>
            <label for='value'>Value</label>
            <input id='value' type='number' class='form-control' placeholder="Value of expense" name='value' autocomplete='off' [(ngModel)]='value'>
        </div>
        <div class='form-group'>
            <label for='value'>Date</label>
            <div class='row justify-content-between'>
                <div class='col-sm-7 d-flex' style='justify-content: center; flex-direction: column'>
                    <input type="text"
                        [placeholder]="date | date:'short'"
                        class="form-control"
                        [bsConfig]="{showTodayButton:true}"
                        [(ngModel)]='date'
                        name='date'
                        bsDatepicker
                    >
                </div>
                <div class='col-sm-4 d-flex' style='justify-content: center'>
                    <timepicker name='time' [(ngModel)]='time' placeholder='time'></timepicker>
                </div>
            </div>
        </div>
        <div class='form-group'>
            <label for='category'>Expense Value</label>
            <input id='category' type='text' class='form-control' placeholder="Category" name='category' autocomplete='off' [(ngModel)]='category'>
        </div>
        <div class='d-flex justify-content-center'>
            <small style='color: red;'>
                {{errMsg}}
            </small>
        </div>
        <div class='d-flex justify-content-around'>
            <button class='btn btn-success' type="submit" value='income'>Add Income</button>
            <button class='btn btn-danger' type="submit" value='expense'>Add Expense</button>
        </div>
    </form>
</div>
