<div class="card my-2 mx-auto" style="width: 95%;">
    <div class="card-body">
        <div (click)="onClickShowButtons()">
            <h5 class="card-title">{{title}}</h5>
            <div class='d-flex justify-content-between align-items-center'>
                <progressbar class='progress' [value]="currentVal" [max]='totalVal' type='success'>{{currentVal | number:'0.2-2'}}</progressbar>
                <p class='card-text save-goal'>
                    {{totalVal | number:'0.2-2'}}
                </p>
            </div>
        </div>
        <div *ngIf='showButtons'>
            <div class='d-sm-flex mt-2 justify-content-around align-items-center'>
                <p class='card-text' style='margin: 0 auto;'>Started on: {{date_start | date:'shortDate'}}</p>
                <p class='card-text' style='margin: 0 auto;'>Ends after: {{date_end | date:'shortDate'}}</p>
            </div>
            <div class='d-flex mt-2 justify-content-around align-items-center'>
                <button class='btn btn-outline-warning' value='Edit' (click)="openModal(template)">
                    Edit
                </button>
                <button class='btn btn-outline-danger' value='Delete' (click)="onClickDeleteBudget()">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>

<ng-template #template>
    <app-budget-edit-modal
        [modalRef]='modalRef'
        [budgetUUID]='budgetUUID'
        [title]='title'
        [currentVal]='currentVal'
        [totalVal]='totalVal'
        [date_start]='date_start'
        [date_end]='date_end'
    ></app-budget-edit-modal>
</ng-template>
