.positive-cash{
    color:green;
}
.negative-cash{
    color:red;
}

.left-info{
    text-align: left;
}

.right-info{
    text-align: right;
}

h5 {
    font-size: 12vw;
}

h3{
    font-size: 12vw;
}

@media screen and (max-width:576px){
    .left-info{
        text-align: center;
    }
    .right-info{
        text-align: center;
    }
}