<div class='container-fluid'>

    <div *ngIf='userLogin; then login else signup'></div>
    
    <ng-template #login>
        <div class='row d-flex' style="justify-content: center;">
            <div class='col' style='text-align: center;'>
                <h3>Login</h3>
            </div>
        </div>
        <div class='row d-flex' style="justify-content: center;">
            <div class='col-10 col-md-8 col-lg-6 particulars-box'>
                <form class='my-4' (submit)="handleSubmitLogin($event)">
                    <p class='err'>{{errMsg}}</p>
                    <div class='form-group'>
                        <label for='email'>Email Address</label>
                        <input id='email' type='email' class='form-control' placeholder="Email Address" name='email' [(ngModel)]='userEmail'>
                    </div>
                    <div class='form-group'>
                        <label for='password'>Password</label>
                        <input id='password' type='password' class='form-control' placeholder="Enter your password" name='password' [(ngModel)]='userPassword'>
                    </div>
                    <div class='form-group'>
                        <small>Don't have an account? Sign up <span class='login-toggle' (click)="toggleLoginSignup($event)">here</span></small>
                    </div>
                    <div class='form-group' style='text-align: right;'>
                        <button class='btn btn-outline-primary' type="submit" value="login">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </ng-template>

    <ng-template #signup>
        <div class='row d-flex' style="justify-content: center;">
            <div class='col w-70' style='text-align: center;'>
                <h3>Sign Up</h3>
            </div>
        </div>
        <div class='row d-flex' style="justify-content: center;">
            <div class='col-10 col-md-8 col-lg-6 particulars-box'>
                <form class='my-4' (submit)="handleSubmitSignup($event)">
                    <div class='err'>{{errMsg}}</div>
                    <div class='form-group'>
                        <label for='username'>Username</label>
                        <input id='username' type='email' class='form-control' placeholder="User name" name='username' [(ngModel)]='userName'>
                    </div>
                    <div class='form-group'>
                        <label for='email'>Email Address</label>
                        <input id='email' type='email' class='form-control' placeholder="Email Address" name='email' [(ngModel)]='userEmail'>
                    </div>
                    <div class='form-group'>
                        <label for='password'>Password</label>
                        <input id='password' type='password' class='form-control' placeholder="Enter your password" name='password' [(ngModel)]='userPassword'>
                    </div>
                    <div class='form-group'>
                        <label for='cfm-password'>Confirm Password</label>
                        <input id='cfm-password' type='password' class='form-control' placeholder="Confirm password" name='cfm-password' [(ngModel)]='userCfmPassword'>
                    </div>
                    <div class='form-group'>
                        <small>Already have an account? Log in <span class='login-toggle' (click)="toggleLoginSignup($event)">here</span></small>
                    </div>
                    <div class='form-group' style='text-align: right;'>
                        <button class='btn btn-outline-primary' type="submit" value="signup">Sign up</button>
                    </div>
                </form>
            </div>
        </div>
    </ng-template>

    <div>{{response|json}}</div>
</div>