.particulars-box{
    border: 3px solid #1A1918;
    border-radius: 10px;
    background-color: #fDfffA;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.507);
}

.err {
    color:red;
}

.login-toggle {
    color:blue;
}

.login-toggle:hover {
    cursor:pointer;
}

small:hover{
    cursor:default;
}