<div class='d-flex justify-content-center'>
    <h1 class='display-6'>Expense History</h1>
</div>
<div>
    <form>
        <div class='form-group'>
            <div class='d-flex justify-content-center'>
                <input name='search-bar' type='text' class='form-control search-bar' autocomplete="off">
                <button type='submit' class='btn btn-secondary search-button'>Search</button>
            </div>
        </div>
    </form>
</div>
<hr class='divider'/>
<div class='container'>
    <div class='row'>
        <div class='col-8 text-start'>
            Total
        </div>
        <div class='col-4 text-center'>
            
        </div>
    </div>
</div>
<hr class='divider'/>
<div class='container'>
    <div class='row'>
        <div class='col-8 text-start'>
            
        </div>
        <div class='col-4 text-start'>

        </div>
    </div>
</div>