<div class='container-fluid mt-2'>
    <div class='d-flex mb-4 justify-content-end'>
        <button type="button" class="btn btn-outline-success button-new" (click)="openModal(template)">New Saving</button>
    </div>

    <div *ngFor='let saving of userSavings'>
        <app-saving-goal-item
            [title]='saving.title'
            [currentVal]='saving.current'
            [targetVal]='saving.target'
            [savingUUID]='saving.uuid'
        >
        </app-saving-goal-item>
    </div>

</div>

 
<ng-template #template>
  <app-create-modal [modalRef]="modalRef"></app-create-modal>
</ng-template>