<div class='container-fluid mt-2'>
    <div class='d-flex mb-4 justify-content-end'>
        <button type="button" class="btn btn-outline-success button-new" (click)="openModal(template)">New Budget</button>
    </div>

    <div *ngFor='let budget of userBudgets'>
        <app-budget-item
            [budgetUUID]='budget.budgetUUID'
            [title]='budget.title'
            [totalVal]='budget.total'
            [currentVal]='budget.current'
            [date_start]='budget.date_start'
            [date_end]='budget.date_end'
        ></app-budget-item>
    </div>
</div>

 
<ng-template #template>
    <app-budget-create-modal [modalRef]="modalRef"></app-budget-create-modal>
</ng-template>