<div class='container-fluid mt-2'>
    <div class='d-flex mb-4 justify-content-end'>
        <button type="button" class="btn btn-outline-success button-new" (click)="openModal(template)">New Cashflow</button>
    </div>

    <div *ngFor='let cashflow of cashFlows'>
        <app-cash-flow-item
            [cashflowUUID]='cashflow.cashflowUUID'
            [value]='cashflow.value'
            [is_income]='cashflow.is_income'
            [title]='cashflow.title'
            [category]='cashflow.category'
            [next_payment_date]='cashflow.next_payment_date'
            [by_days]='cashflow.by_days'
            [period]='cashflow.period'
        ></app-cash-flow-item>
    </div>
</div>


<ng-template #template>
    <app-cash-flow-create-modal
        [modalRef]="modalRef"></app-cash-flow-create-modal>
</ng-template>